---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import FriendCard from "@/components/mdx/FriendCard.astro";
import CardGroup from "@/components/temple/CardGroup.astro";

const sites = [{ name: "Frosti Demo", url: "https://frosti.saroprock.com/" }];
---

<BaseLayout title="Friends">
  <CardGroup cols="1">
    <MainCard infoIcon="lucide:link">
      <div class="space-y-10">
        <!-- 关注者 -->
        <section>
          <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
            <Icon name="lucide:git-pull-request" class="w-6 h-6 text-primary" />
            <span>关注者</span>
          </h2>

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <FriendCard
              name="HelloWRC"
              avatar="https://github.com/HelloWRC.png"
              description="我们每个人都是在哭声中来到这个世界，但是却要笑着走向未来。"
              url="https://github.com/HelloWRC"
            />
            <FriendCard
              name="EnderWolf"
              avatar="https://github.com/EnderWolf006.png"
              description="ElectronClassSchedule 开发者"
              url="https://github.com/EnderWolf006"
            />
            <FriendCard
              name="ZongziTEK"
              avatar="https://github.com/STBBRD.png"
              description="ZongziTEK 黑板贴开发者"
              url="https://github.com/STBBRD"
            />
            <FriendCard
              name="Hello8693"
              avatar="https://github.com/Hello8693.png"
              description="一个 Vue 爱好者"
              url="https://github.com/Hello8693"
            />
            <FriendCard
              name="RinLit"
              avatar="https://github.com/RinLit-233-shiroko.png"
              description="海南初中在读 & 初三 & 个人开发者"
              url="https://github.com/RinLit-233-shiroko"
            />
            <FriendCard
              name="姜胤"
              avatar="https://github.com/jiangyin14.png"
              description="一个 Java/GoLang 爱好者"
              url="https://github.com/jiangyin14"
            />
            <FriendCard
              name="PYLXU"
              avatar="https://github.com/PYLXU.png"
              description="RisSoft 瑞思软件开发者"
              url="https://github.com/PYLXU"
            />
            <FriendCard
              name="Alan-CRL"
              avatar="https://github.com/Alan-CRL.png"
              description="智绘教Inkeys 开发者"
              url="https://github.com/Alan-CRL"
            />
            <FriendCard
              name="落雪无痕LxHTT"
              avatar="https://github.com/LxHTT.png"
              description="Python/Golang/Vue 等全栈开发者"
              url="https://github.com/LxHTT"
            />
          </div>
        </section>
      </div>
    </MainCard>
  </CardGroup>
</BaseLayout>
